<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>

    <p><a href="about">About <%=shopData.shopName%></a></p>
    <p><a href="activities/add">Add a new activity</a></p>
    <p><a href="activities/list">List activities</a></p>
    <p><a href="activities/search">Search activities</a></p>
    <p><a href="users/register">Register</a></p>
    <p><a href="users/login">Log In</a></p>
    <p><a href="users/list">List Users</a></p>
    <p><a href="/users/logout">Log out</a></p>
  </body>
</html>
